# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# ===== Secrets =====
.env
*.env
*.jks
*.key
*.pem

# ===== Build =====
target/
*.log

# OS
.DS_Store
Thumbs.db

# MinIO data
additional/evaluate-prometheus/.data/

# General docker volumes
.data/
