spring:
    application:
        name: order-service
    datasource:
        url: jdbc:postgresql://localhost:5432/order
        username: postgres
        password: postgres
    jpa:
        database: POSTGRESQL
        hibernate:
        ddl-auto: update
        show-sql: true
        database-platform: org.hibernate.dialect.PostgreSQLDialect
    
