spring:
    application:
        name: order-service
    datasource:
        url: jdbc:postgresql://localhost:5432/order
        username: postgres
        password: postgres
    jpa:
        database: POSTGRESQL
        hibernate:
            ddl-auto: update
        show-sql: true
        database-platform: org.hibernate.dialect.PostgreSQLDialect
    rabbitmq:
        host: localhost
        port: 5672
        username: guest
        password: guest

server:
    port: 8083

management:
    endpoints:
        web:
            exposure:
                include: "*"

app:
    message: "Hello Order Service"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
    
