spring:
    application:
        name: configserver
    profiles:
        active: native
    rabbitmq:
        host: ${RABBITMQ_HOST}
        port: ${RABBITMQ_PORT}
        username: ${RABBITMQ_USER}
        password: ${RABBITMQ_PASSWORD}
    cloud:
        config:
            server:
                native:
                    search-locations: file:///D:\Ecommerce_Microservices\configserver\src\main\resources\config
server:
    port: 8888

management:
    endpoints:
        web:
            exposure:
                include: "*"