apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
  - name: Loki
    type: loki
    access: proxy
    url: http://gateway:3100
    jsonData:
      httpHeaderName1: "X-Scope-OrgID"
    secureJsonData:
      httpHeaderValue1: "tenant1"

# Đây là provisioning datasource cho Grafana.
# khi Grafana container khởi động, nó sẽ tự động tạo sẵn các Data Source thay vì bạn phải vào UI cấu hình thủ công.